.btn {
    padding: .825rem 3.125rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--secondaryColor);
    color: #fff !important;
    transition: .3s ease-in-out
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #304b44;
}

.slide {
    cursor: pointer;
    width: 58px;
    height: 58px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center !important;
    justify-content: center;
    margin-left: 1.25rem;
}

.slide.active {
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    transition: .3s ease-in-out
}

.slide.active:hover, .slide-active:focus {
    background-color: #304b44;
}

.progress-bar {
    background-color: #dfdfdf;
    width: 100%;
    height: 4px;
}

.progress-bar-value {
    background-color: #DD2C00;
    width: 25%;
    height: 100%;
}